{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h1 class="text-center mb-5">Shopping Cart</h1>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3>Cart</h3>
                    You have no Product in Your Cart
                    <hr class="text-muted">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}